services:
  redis:
    image: redis:7.0-alpine
    container_name: glpi_redis
    restart: unless-stopped
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - glpi_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${WATCHTOWER_LABEL_ENABLE}"

  mariadb:
    image: mariadb:${GLPI_DB_VERSION}
    container_name: glpi_mariadb
    restart: unless-stopped
    env_file: .env
    ports:
      - "${MARIADB_PORT}:3306"
    volumes:
      - ${GLPI_BASE_PATH}/db:/var/lib/mysql:rw
    networks:
      - glpi_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${WATCHTOWER_LABEL_ENABLE}"

  mariadb-timezone:
    image: mariadb:${GLPI_DB_VERSION}
    container_name: glpi_mariadb_timezone
    restart: on-failure
    env_file: .env
    depends_on:
      mariadb:
        condition: service_started
    command: mariadb -h $MARIADB_HOST -u root -p$MARIADB_ROOT_PASSWORD -e "GRANT SELECT ON \`mysql\`\.\`time_zone_name\` TO 'glpi'@'%'; FLUSH PRIVILEGES;"
    networks:
      - glpi_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${WATCHTOWER_LABEL_ENABLE}"

  glpi-db-install:
    image: eftechcombr/glpi:php-fpm-11.0.2
    container_name: glpi_db_install
    restart: on-failure
    env_file: .env
    volumes:
      - ${GLPI_BASE_PATH}/marketplace:/var/www/html/marketplace:rw
      - ${GLPI_BASE_PATH}/files:/var/lib/glpi:rw
      - ${GLPI_BASE_PATH}/etc:/etc/glpi:rw
    depends_on:
      mariadb:
        condition: service_started
    command:
      - /usr/local/bin/glpi-db-install.sh
    networks:
      - glpi_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${WATCHTOWER_LABEL_ENABLE}"

  glpi-verify-dir:
    image: eftechcombr/glpi:php-fpm-11.0.2
    container_name: glpi_verify_dir
    restart: on-failure
    env_file: .env
    volumes:
      - ${GLPI_BASE_PATH}/marketplace:/var/www/html/marketplace:rw
      - ${GLPI_BASE_PATH}/files:/var/lib/glpi:rw
      - ${GLPI_BASE_PATH}/etc:/etc/glpi:rw
    depends_on:
      glpi-db-install:
        condition: service_completed_successfully
    command:
      - /usr/local/bin/glpi-verify-dir.sh
    networks:
      - glpi_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${WATCHTOWER_LABEL_ENABLE}"

  glpi-db-configure:
    image: eftechcombr/glpi:php-fpm-11.0.2
    container_name: glpi_db_configure
    restart: on-failure
    env_file: .env
    volumes:
      - ${GLPI_BASE_PATH}/marketplace:/var/www/html/marketplace:rw
      - ${GLPI_BASE_PATH}/files:/var/lib/glpi:rw
      - ${GLPI_BASE_PATH}/etc:/etc/glpi:rw
    depends_on:
      glpi-verify-dir:
        condition: service_completed_successfully
    command:
      - /usr/local/bin/glpi-db-configure.sh
    networks:
      - glpi_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${WATCHTOWER_LABEL_ENABLE}"

  glpi-cache-configure:
    image: eftechcombr/glpi:php-fpm-11.0.2
    container_name: glpi_cache_configure
    restart: on-failure
    env_file: .env
    volumes:
      - ${GLPI_BASE_PATH}/marketplace:/var/www/html/marketplace:rw
      - ${GLPI_BASE_PATH}/files:/var/lib/glpi:rw
      - ${GLPI_BASE_PATH}/etc:/etc/glpi:rw
    depends_on:
      glpi-verify-dir:
        condition: service_completed_successfully
    command:
      - /usr/local/bin/glpi-cache-configure.sh
    networks:
      - glpi_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${WATCHTOWER_LABEL_ENABLE}"

  php:
    image: eftechcombr/glpi:php-fpm-11.0.2
    container_name: glpi_php
    restart: unless-stopped
    env_file: .env
    volumes:
      - ${GLPI_BASE_PATH}/marketplace:/var/www/html/marketplace:rw
      - ${GLPI_BASE_PATH}/files:/var/lib/glpi:rw
      - ${GLPI_BASE_PATH}/etc:/etc/glpi:rw
    depends_on:
      mariadb:
        condition: service_started
      glpi-db-install:
        condition: service_completed_successfully
      glpi-db-configure:
        condition: service_completed_successfully
      glpi-verify-dir:
        condition: service_completed_successfully
    ports:
      - "${PHP_FPM_PORT}:9000"
    networks:
      - glpi_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${WATCHTOWER_LABEL_ENABLE}"

  nginx:
    image: eftechcombr/glpi:nginx-11.0.2
    container_name: glpi_nginx
    restart: unless-stopped
    depends_on:
      php:
        condition: service_started
    ports:
      - "${GLPI_WEB_PORT}:8080"
    networks:
      - glpi_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${WATCHTOWER_LABEL_ENABLE}"

networks:
  glpi_network:
    name: glpi_network
    driver: bridge

