services:
  db:
    image: mariadb:${GLPI_DB_VERSION}
    container_name: glpi_db
    restart: unless-stopped
    environment:
      - MARIADB_RANDOM_ROOT_PASSWORD=yes
      - MARIADB_DATABASE=${GLPI_DB_NAME}
      - MARIADB_USER=${GLPI_DB_USER}
      - MARIADB_PASSWORD=${GLPI_DB_PASSWORD}
      - TZ=${TZ}
    volumes:
      - ${GLPI_BASE_PATH}/db:/var/lib/mysql
    expose:
      - "3306"
    networks:
      - glpi_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${WATCHTOWER_LABEL_ENABLE}"

  glpi:
    image: glpi/glpi:${GLPI_VERSION}
    container_name: glpi
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    env_file: .env
    ports:
      - "${GLPI_PORT}:80"
    volumes:
      - ${GLPI_BASE_PATH}/app:/var/glpi:rw
      - ${GLPI_BASE_PATH}/marketplace:/var/www/glpi/marketplace
    networks:
      - glpi_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${WATCHTOWER_LABEL_ENABLE}"

networks:
  glpi_network:
    name: glpi_network
    driver: bridge

