services:
  db:
    image: mysql:${GLPI_DB_VERSION}
    container_name: glpi_db
    restart: unless-stopped
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_DATABASE=${GLPI_DB_NAME}
      - MYSQL_USER=${GLPI_DB_USER}
      - MYSQL_PASSWORD=${GLPI_DB_PASSWORD}
      - TZ=${TZ}
    volumes:
      - ${GLPI_BASE_PATH}/db:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -u $${MYSQL_USER} --password=$${MYSQL_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    expose:
      - "3306"
    networks:
      - glpi_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${WATCHTOWER_LABEL_ENABLE}"

  glpi:
    image: glpi/glpi:${GLPI_VERSION}
    container_name: glpi
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "${GLPI_PORT}:80"
    volumes:
      - ${GLPI_BASE_PATH}/app:/var/glpi:rw
      - ${GLPI_BASE_PATH}/marketplace:/var/www/glpi/marketplace
    networks:
      - glpi_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${WATCHTOWER_LABEL_ENABLE}"

networks:
  glpi_network:
    name: glpi_network
    driver: bridge

