services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:latest
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${VAULTWARDEN_PORT}:80"
      - "${VAULTWARDEN_WS_PORT}:3012"
    environment:
      DOMAIN: ${VAULTWARDEN_DOMAIN}
      ADMIN_TOKEN: ${VAULTWARDEN_ADMIN_TOKEN}
      WEBSOCKET_ENABLED: ${VAULTWARDEN_WEBSOCKET_ENABLED}
      SIGNUPS_ALLOWED: ${VAULTWARDEN_SIGNUPS_ALLOWED}
      LOG_LEVEL: ${VAULTWARDEN_LOG_LEVEL}
      TZ: ${VAULTWARDEN_TZ}
    volumes:
      - "${VAULTWARDEN_BASE_PATH}/data:/data"
    labels:
      - "com.centurylinklabs.watchtower.enable=${VAULTWARDEN_WATCHTOWER_LABEL_ENABLE}"
    networks:
      - vaultwarden_network

networks:
  vaultwarden_network:
    name: vaultwarden_network
    driver: bridge

