services:
  octoprint:
    image: octoprint/octoprint:${OCTOPRINT_VERSION}
    container_name: octoprint
    restart: unless-stopped
    env_file: .env
    environment:
      - "TZ=${OCTOPRINT_TZ}"
      - "ENABLE_MJPG_STREAMER=${OCTOPRINT_ENABLE_MJPG_STREAMER}"
    ports:
      - "${OCTOPRINT_PORT}:80"
    devices:
      - "${OCTOPRINT_PRINTER_DEVICE}:${OCTOPRINT_PRINTER_DEVICE}"
      - "${OCTOPRINT_WEBCAM_DEVICE}:${OCTOPRINT_WEBCAM_DEVICE}"
    volumes:
      - "${OCTOPRINT_BASE_PATH}/data:/octoprint"
    networks:
      - octoprint_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${OCTOPRINT_WATCHTOWER_LABEL_ENABLE}"

networks:
  octoprint_network:
    name: octoprint_network
    driver: bridge

