services:
  octoprint:
    image: octoprint/octoprint:${OCTOPRINT_VERSION}
    container_name: octoprint
    restart: unless-stopped
    env_file: .env
    environment:
      - TZ=${OCTOPRINT_TZ}
    ports:
      - "${OCTOPRINT_PORT}:80"
    devices:
      - "${OCTOPRINT_DEVICE}:${OCTOPRINT_DEVICE}"
    volumes:
      - "${OCTOPRINT_BASE_PATH}/data:/octoprint"
    networks:
      - octoprint_network
    labels:
      - "com.centurylinklabs.watchtower.enable=${OCTOPRINT_WATCHTOWER_LABEL_ENABLE}"

networks:
  octoprint_network:
    name: octoprint_network
    driver: bridge

