services:
  mysql:
    container_name: mysql
    image: mysql:8.0
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${MYSQL_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: ${MYSQL_TZ}
    volumes:
      - "${MYSQL_DATA_PATH}:/var/lib/mysql"
    command: --default-authentication-plugin=mysql_native_password
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - mysql_network

networks:
  mysql_network:
    name: mysql_network
    driver: bridge